KOMMO_SUBDOMAIN=nextcard
KOMMO_LONG_LIVED_TOKEN=
KOMMO_SYNC_ENABLED=false
RD_WEBHOOK_SECRET=
KOMMO_PIPELINE_NAME=Funil Nextcard
KOMMO_ENTRY_STAGE_NAME=NOVOS LEADS RD
KOMMO_NEXTCARD_RESPONSIBLE_USER_ID=15686199
KOMMO_TELOOS_PIPELINE_NAME=Funil Teloos
KOMMO_TELOOS_ENTRY_STAGE_NAME=NOVOS LEADS RD
KOMMO_TELOOS_RESPONSIBLE_USER_ID=15686231
KOMMO_PARTNERSHIPS_PIPELINE_NAME=Funil Parcerias
KOMMO_PARTNERSHIPS_ENTRY_STAGE_NAME=Novos Leads RD
KOMMO_PARTNERSHIPS_RESPONSIBLE_USER_ID=15712063
