KOMMO_SUBDOMAIN=nextcard
KOMMO_LONG_LIVED_TOKEN=
KOMMO_SYNC_ENABLED=false
RD_WEBHOOK_SECRET=
RD_CLIENT_ID=
RD_CLIENT_SECRET=
RD_REDIRECT_URI=https://rd-kommo.vercel.app/api/auth/rd/callback
KOMMO_PIPELINE_NAME=Funil Nextcard
KOMMO_ENTRY_STAGE_NAME=ETAPA DE LEADS DE ENTRADA
